head{
    
    color: black;
}

body{
    background-image: url(https://i.pinimg.com/originals/58/3d/c7/583dc759c3532bb3cc3d0ffcf092173c.jpg);
}
h1 {
    text-align: center;
    height: 26mm ;
    color:red;
    border-style: double;
    border-color: rgb(170, 170, 237);
    border-radius: 5px;
}
p {
    height: 16mm ;
    color: #ffffff;
}
img {
    height: 100mm;
    border-radius: 10px;
    border-style: ridge;
    border-color: rgb(252, 0, 0);
}
h2 {
    text-align: center;
    height: 16mm ;
    color:red;
    border-style: double;
    border-color: rgb(170, 170, 237);
    border-radius: 5px;
}
h3 {
    text-align: center;
    height: 16mm ;
    color:red;
    border-style: double;
    border-color: rgb(170, 170, 237);
    border-radius: 5px;
}